[Unit]
Description=Run weekly-stock-model code on every boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=ec2-user
WorkingDirectory=/home/ec2-user/weekly-stock-model

# Environment Variables go here

ExecStart=/home/ec2-user/weekly-stock-model/run-on-boot.sh
TimeoutStartSec=1200
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
